# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example
!.env.wpstemplate.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# WordPress languages (installed via Composer https://wp-languages.github.io)
web/app/languages/

# Composer auth.json
auth.json

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/launch.wpstemplate.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
